Source: meteor
Section: x11
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: dpkg-dev (>= 1.22.5),
 cmake,
 debhelper-compat (= 13),
 doctest-dev <!nocheck>,
 libcairo2-dev,
 libdrm-dev,
 libevdev-dev,
 libfreetype-dev,
 libgl-dev,
 libglm-dev,
 libinput-dev,
 libjpeg-dev,
 libpango1.0-dev,
 libpixman-1-dev,
 libpng-dev,
 libwayland-dev,
 libwlroots-0.19-dev,
 libxkbcommon-dev,
 libxml2-dev,
 meson,
 nlohmann-json3-dev,
 pkgconf,
 wayland-protocols,
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://wayfire.org/
Vcs-Git: https://salsa.debian.org/debian/wayfire.git
Vcs-Browser: https://salsa.debian.org/debian/wayfire

Package: libmeteor-touch-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
Replaces: libwf-touch-dev
Breaks: libwf-touch-dev
Description: 3D Wayland compositor (wf-touch library dev files)
 Meteor is a 3D Wayland compositor, inspired by Compiz and based on
 wlroots. It aims to create a customizable, extendable and lightweight
 environment without sacrificing its appearance.
 .
 This package contains the development files for the embedded
 wf-touch library.

Package: libmeteor-utils-dev
Architecture: any
Multi-Arch: same
Depends:
 libmeteor-utils0t64 (= ${binary:Version}),
 ${misc:Depends},
Replaces: libwf-utils-dev
Breaks: libwf-utils-dev
Description: 3D Wayland compositor (wf-utils library dev files)
 Meteor is a 3D Wayland compositor, inspired by Compiz and based on
 wlroots. It aims to create a customizable, extendable and lightweight
 environment without sacrificing its appearance.
 .
 This package contains the development files for the embedded
 wf-utils library.

Package: libmeteor-utils0t64
Provides: ${t64:Provides}
Replaces: libwf-utils0, libwf-utils0t64
Breaks: libwf-utils0 (<< ${source:Version}), libwf-utils0t64
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: 3D Wayland compositor (wf-utils library)
 Meteor is a 3D Wayland compositor, inspired by Compiz and based on
 wlroots. It aims to create a customizable, extendable and lightweight
 environment without sacrificing its appearance.
 .
 This package contains the shared library files for the embedded
 wf-utils library.

Package: meteor
Architecture: any
Depends:
 libglx-vendor,
 ${misc:Depends},
 ${shlibs:Depends},
Breaks:
 reform-firedecor (<< 2023-10-23-8),
 libwf-config1 (<< 0.10),
 libwf-config-dev (<< 0.10),
Replaces:
 libwf-config1,
 libwf-config-dev,
Provides:
 libwf-config1,
Description: 3D Wayland compositor
 Meteor is a 3D Wayland compositor, inspired by Compiz and based on
 wlroots. It aims to create a customizable, extendable and lightweight
 environment without sacrificing its appearance.
 .
 This package contains the core files.

Package: meteor-dev
Architecture: any
Depends:
 libcairo-dev,
 libpango1.0-dev,
 libpixman-1-dev,
 libwayland-dev,
 libmeteor-utils-dev,
 libwlroots-0.19-dev,
 ${misc:Depends},
Provides:
 libwf-config-dev,
Breaks:
 wayfire-dev (<< 0.11),
 libwayfire-dev,
Replaces:
 wayfire-dev (<< 0.11),
 libwayfire-dev,
Description: 3D Wayland compositor (development files)
 Meteor is a 3D Wayland compositor, inspired by Compiz and based on
 wlroots. It aims to create a customizable, extendable and lightweight
 environment without sacrificing its appearance.
 .
 This package contains the development files.
